@{
    ViewBag.Title = "Home Page";
}

<section class="slide">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#slider-demo" data-slide-to="0" class="active"></li>
            <li data-target="#slider-demo" data-slide-to="1"></li>
            <li data-target="#slider-demo" data-slide-to="2"></li>
            <li data-target="#slider-demo" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Image/homebg.jpg" alt="Slider1">
                <a>
                    <div class="carousel-caption">

                        <img src="~/Image/logo3.png" alt="logo" />
                        <h3>
                            Our Foundation is committed to helping
                            alleviate child poverty in Vietnam & Mongolia and giving
                            all children the right to a happy and safe childhood.
                        </h3>
                    </div>
                </a>
            </div>
            <div class="item">
                <img src="~/Image/homebg2.jpg" alt="Slider2" />
                <a>
                    <div class="carousel-caption">

                        <img src="~/Image/logo3.png" alt="logo" />
                        <h3>
                            Our Foundation is committed to helping
                            alleviate child poverty in Vietnam & Mongolia and giving
                            all children the right to a happy and safe childhood.
                        </h3>
                    </div>
                </a>
            </div>
            <div class="item">
                <img src="~/Image/homebg3.jpg" alt="Slider3" />
                <a>
                    <div class="carousel-caption">

                        <img src="~/Image/logo3.png" alt="logo" />
                        <h3>
                            Our Foundation is committed to helping
                            alleviate child poverty in Vietnam & Mongolia and giving
                            all children the right to a happy and safe childhood.
                        </h3>
                    </div>
                </a>
            </div>
            <div class="item">
                <img src="~/Image/homebg4.jpg" alt="Slider4" />
                <a>
                    <div class="carousel-caption">

                        <img src="~/Image/logo3.png" alt="logo" />
                        <h3>
                            Our Foundation is committed to helping
                            alleviate child poverty in Vietnam & Mongolia and giving
                            all children the right to a happy and safe childhood.
                        </h3>
                    </div>
                </a>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
</section>


<div class="row">
    <div class="col-md-4">
        <h2>Christina Noble Children’s Foundation</h2>
        <p>
            The Christina Noble Children’s Foundation is an international partnership of people dedicated to serving children in need of emergency and long-term medical care, nutritional...
        </p>
        <p><a class="btn btn-info" href="https://www.cncf.org/our-foundation.html">Tìm Hiểu Thêm &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sách Mượn Nhiều</h2>
        <table class="table">
            <tr>
                <th>Mã Sách</th>
                <th>Tên Sách</th>
                <th>Số Lượt Mượn</th>
            </tr>
        </table>
        <p><a class="btn btn-success" href="~/Views/Saches/Index.cshtml">Tìm Hiểu Thêm &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sách Đến Hạn Trả</h2>
        <table class="table">
            <tr>
                <th>Tên Học Sinh</th>
                <th>Tên Sách</th>
                <th>Hạn Trả</th>
            </tr>
        </table>
        <p><a class="btn btn-danger" href="~/Views/Muon_Sach/Index.cshtml">Tìm Hiểu Thêm &raquo;</a></p>
    </div>
</div>